<nav>
  <a class="navbar-brand" href="#">News Combinator</a>
</nav>

<div>
  <h4>{{ source | uppercase }}</h4>
</div>
<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3">Article</th>
      <th>Author</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of news.articles">
      <td style="width: 15%">
        <img [src]="article.urlToImage" [title]="article.title | uppercase" />
      </td>
      <td colspan="3" style="width: 65%">
        <a href="{{ article.url }}" target="_blank">
          {{ article.title }}
        </a>
        <p>
          {{ article.description }}
        </p>
      </td>
      <td style="width: 10%">{{ article.author | uppercase }}</td>
      <td style="width: 10%">{{ article.publishedAt | date: "mediumDate" }}</td>
    </tr>
  </tbody>
</table>
