<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My News</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/business" routerLinkActive="active">business</a></li>
      <li><a routerLink="/health" routerLinkActive="active">health</a></li>
      <li><a routerLink="/science" routerLinkActive="active">science</a></li>
      <li><a routerLink="/sports" routerLinkActive="active">sports</a></li>
    </ul>
  </div>
</nav>
