.footer {
  text-decoration: none;
  background: whitesmoke;
  padding: 10px 0;
}
.footer a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px;
}
.footer a:second-child {
  border-left: 1px solid #70726f;
}
.footer a:hover {
  color: darkblue;
}
