<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>

<body>
    <h1>Request</h1>
    <hr>
    <h2>Method:Get</h2>
    <!--form[action=/result method=get]>button{확인}-->
    <form action="/result" method="get">
        <button>확인</button>
    </form>
    <hr>
    <h2>Method:POST</h2>
    <!--form[action=/result method=get]>button{확인}-->
    <form action="/result" method="post">
        <button>확인</button>
    </form>

    <hr>
    <h2>Method 없음</h2>
    <!--form[action=/result method=get]>button{확인}-->
    <!-- GET 방식 -->
    <form action="/result">
        <button>확인</button>
    </form>

</body>

</html>