<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <title>텍스트필드에서 값을 입력받아 별도의 html에 전달하기</title>
</head>

<body>
    <h1>하이퍼링크로 데이터 전달후 HTML 페이지에 표시하기</h1>
    <hr />
    <h2>데이터 전달 - GET 방식</h2>
    <ul>
        <li><a href="/result?userAge=20"> userAge=20 </a></li>
        <li><a href="/result2?num=50">num=50, 1~50까지 합구하기 </a></li>
        <li><a href="/result2?num=25">num=25, 1~25까지 합구하기 </a></li>
        <li><a href="/result2?num=100">num=100, 1~100까지 합구하기 </a></li>
        <li>
            <a href="/result3?num1=10&num2=30&num3=30"> 세수의 곱구하기</a>
        </li>
    </ul>
</body>

</html>