<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<link
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
  rel="stylesheet"
/>

<footer class="footer">
  <div class="container text-center">
    <a href="#"
      >My First Application - news<span style="font-size:10px">
        By psw
      </span></a
    >
    <a href="https://newsapi.org/">powered by NewsAPI.org</a>
    <a
      href="https://github.com/psw7205/Programming-Practices/tree/master/Typescript/myApp"
      ><i class="fa fa-github"></i
    ></a>
  </div>
</footer>
