<nav>
    <a class="navbar-brand" href="#">Sports News Combinator</a>
</nav>

<div>
    <h4>{{source | uppercase}}</h4>
</div>

<table border="1">
    <thead>
        <tr>
            <th>
            </th>
            <th colspan="3">Article</th>
            <th>Author</th>
            <th>Published </th>

        </tr>
    </thead>
    <tbody>

        <tr *ngFor='let article of tmp.articles'>
            <td>
                <p>이미지</p>
            </td>
            <td colspan="3">
                <a href="{{article.url}}" target="_blank">
                    {{article.title}}
                </a>
                <p>
                    {{article.desc}}
                </p>
            </td>
            <td>{{ article.author | uppercase }}</td>
            <td>{{ article.date}}</td>
        </tr>
    </tbody>
</table>