<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> 레코드 추가 </title>
    <!-- 부트스트랩 연동 -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <style>
        form label {
            display: block;
            margin-top: 10px
        }
    </style>

</head>

<body>
    <div class="container">
        <h1>레코드 추가</h1>
        <!--    form[method=post]>(label+input:text)*3-->
        <form action="/add_country_pro" method="post">
            <label for="c_code">CODE</label><input type="text" name="c_code" id="c_code">
            <label for="c_name">NAME</label><input type="text" name="c_name" id="c_name">
            <label for="c_gnp">GNP</label><input type="text" name="c_gnp" id="c_gnp">
            <br>
            <button type="submit" class="btn btn-danger"> SUBMIT </button>
        </form>

    </div>
</body>

</html>