<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>DB 목록확인 1</title>
    <!-- 부트스트랩 연동 -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>DB 목록확인 1</h1>
        <hr>
        <!--p>a.btn.btn-success{목록보기}-->
        <p class="text-align">
            <a href="/country_list" class="btn btn-success">목록 보기</a>
            <a href="/add_country" class="btn btn-primary">목록 추가</a>
        </p>
    </div>


</body>

</html>