<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <title>Form</title>
    </head>
    <body>
        <h1>Request-GET</h1>
        <form action="/result" method="get">
            <fieldset>
                <button type="submit">확인</button>
            </fieldset>
        </form>
        <h1>Request-POST</h1>
        <form action="/result" method="post">
            <fieldset>
                <button type="submit">확인</button>
            </fieldset>
        </form>
    </body>
</html>
